<ion-grid>
  <ion-row>
    <ion-title class="ion-text-center">Upload your file</ion-title>
  </ion-row>
  <ion-grid>
    <form (ngSubmit)="submit()" [formGroup]="uploadFile">
      <ion-row class="ion-justify-content-center">
        <app-file-field formControlName="file" (change)="onChange()" [statusColor]="statusColor"></app-file-field>
      </ion-row>

      <ion-row class="ion-justify-content-center ion-margin-top" *ngIf="progress > 0">
        <ion-progress-bar color="primary" value="{{progress}}"></ion-progress-bar>
      </ion-row>

      <ion-row class="ion-justify-content-center ion-margin-top">
          <ion-label id="error-file" color="danger" *ngIf="hasError('file', 'required')">This field is required</ion-label>
          <ion-label id="error-ext" color="danger" *ngIf="hasError('file', 'requiredFileType')">Only {{ fileTypesAccepted }}</ion-label>
      </ion-row>

      <ion-row class="ion-justify-content-strat ion-margin-top">
        <ion-col offset="2" offset-xl="3" size="2">
          <ion-button id="summit" type="submit" color="primary">Submit</ion-button>
        </ion-col>
        <ion-col offset="4" offset-xl="3" size="2">
          <ion-button id="reset" color="danger" (click)="resetForm()">Clear</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
  
  

</ion-grid>


 
