<ion-grid>
  <ion-row>
    <ion-col>
      <ion-title class="ion-text-center">List of files</ion-title>
    </ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-center" *ngFor="let row of data">

    <ion-col class="" size=7>
      <p>
        {{ row.name }}
      </p>
    </ion-col>
      
    <ion-col class="icon-doc" size=1 *ngIf="row.ext === 'pdf' ">
      <a href="{{ row.upload }}">
        <img class="icon-doc" src="assets/images/picture_as_pdf_black_24dp.svg" alt="">
      </a>
    </ion-col>
    <ion-col class="icon-doc" size=1>
      <a href="{{ row.upload }}" download>
        <img class="icon-doc" src="assets/images/file_download_black_24dp.svg" alt="">
      </a>
    </ion-col>

  </ion-row>
</ion-grid>
